<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center"> 
    <h1>Standard Account</h1>
    <p>Sign up for free and get basic access to the tool.</p>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
      <h2>Sign up</h2>
      <%= render "standard_form" %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>