<div class="text-center">
  <h1>About</h1>
  <div class="jumbotron">
    <h3>This app is not meant for public use.
    Instead, I am treating it as a demonstration of my Ruby on Rails skills.</h3>
  </div>
</div>