<div class="text-center">
  <h1>About</h1>
  <div class="jumbotron">
    <h3>This app is not meant for public use</h3>
    <p>Instead, I am treating it as a demonstration of my Ruby on Rails skills.</p>
  </div>
  <h2><%= link_to "Return to Homescreen", root_path %></h2>
</div>