<div class="text-center">
  <h1>CARE Tool</h1>
  <div class="jumbotron">
    <h3>This is a Ruby on Rails version of the physical therapy app I am developing</h3>
    <p>
      <em>It is not meant for public use</em>
      <br>
      Instead, I am treating it as a demonstration of my Ruby on Rails skills.
    </p>

    <ul class="nav nav-pills nav-justified">
      <li role="presentation"><%= link_to "Exercises", exercises_path, class: 'btn btn-success btn-lg' %></li>
      <li role="presentation"></li>
      <li role="presentation"><%= link_to "Patients", "#", class: 'btn btn-primary btn-lg' %></li>
    </ul>
  </div>
</div>