<!--Set Title in Navbar-->
<script>
  document.getElementById('pageTitle').innerHTML = "Exercises List"; 
</script>

<!--Listings-->
<div class="col-md-8 col-md-offset-2">
  <ul class="list-group">
    <% @exercises.each do |exercise| %>
      <%= link_to exercise do %>
        <li class="list-group-item list-group-item-active">
          <span class="badge">
            <% if exercise[:set] == "Mobility" %>
              Mobil
            <% else %>
              Self
            <% end %>
          </span>
          <strong><%= "#{exercise[:name]}" %></strong>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>